body {
    /* VAR */
    --label-font: 'Marhey', sans-serif;
    /* --- */
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: aquamarine;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 2em;
    padding-top: 7em;
    padding-right: 1em;
    padding-left: 1em;
    align-items: center;
    /* justify-content: space-around; */
    background-color: aquamarine;
}

/* map */
.map-container {
    width: 90%;
    align-self: center;
}

.map-container .map iframe {
    width: 100%;
}

/* contact inf container */
.contact-inf-container {
    width: 90%;
    background-color: bisque;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    gap: 2em;
    box-shadow: 0px 0px 3px 3px #72a2e540;
}

.contact-inf-container .item {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    color: #ffffff;
    background-color: #ebb4c7;
    border-radius: 1em;
    padding: 1em;
}

.contact-inf-container .item h3 {
    margin-top: 0;
}

/* social network */
.social-newtwork {
    width: 90%;
    grid-row: 2;
    grid-column: 2 / span 7;
    display: flex;
    background-color: #ebb4c7;
    border-radius: 1em;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 3px 3px #72a2e540;
}

.social-newtwork img {
    width: 3.5em;
    cursor: pointer;
}